<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать вакансию</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/createVacancy.css">
</head>
<body>
<!---------------------------ШАПКА---------------------------->
<div th:replace="common/navbar :: navbar(user=${user},vacancy = null)"></div>
<!------------------------------------------------------------>
<!-- Основное содержимое -->
<div class="compact-form-container">
    <div class="compact-form-title">
        <i class="fas fa-file-alt"></i> <!-- Иконка документа -->
        Создать вакансию
    </div>
    <form action="create" method="post">
        <div class="compact-form-group">
            <label>Должность:</label>
            <input type="text" name="position">
        </div>
        <div class="compact-form-group">
            <label>Зарплата:</label>
            <input type="number" name="salary">
        </div>
        <div class="compact-form-group">
            <label>Описание:</label>
            <textarea name="description"></textarea>
        </div>
        <div class="compact-form-actions">
            <button type="submit" class="compact-btn">Создать</button>
            <button type="button" class="compact-btn cancel-btn" onclick="window.location.href='/user/profile'">Отмена</button> <!-- Кнопка "Отмена" -->
        </div>
    </form>
</div>
</body>
</html>
