<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать вакансию</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="">
</head>
<body>
<!---------------------------ШАПКА---------------------------->
<div th:replace="common/navbar :: navbar(user=${user},vacancy = null, resumes = ${resumes})"></div>
<!------------------------------------------------------------>
<!-- Основное содержимое -->
<div class="main-content">
    <h1>Мой профиль</h1>

    <div class="vacancy-form">
        <h2 class="vacancy-form-title">Создать вакансию</h2>
        <form th:action="@{create}" method="post">
            <div class="form-group">
                <label>Должность:</label>
                <input type="text" name="position" />
            </div>
            <div class="form-group">
                <label>Зарплата:</label>
                <input type="number" name="salary" />
            </div>
            <div class="form-group">
                <label>Описание:</label>
                <textarea name="description"></textarea>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn-submit">Создать</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>