<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль работодателя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vacancy.css">

</head>
<body>
<div class="container">
    <h1 th:text="${employer.organisation}">Организация</h1>
    <p th:text="${employer.description}">Описание</p>
    <h2>Вакансии</h2>
    <div class="vacancy-container">
        <div class="vacancy-card" th:each="vacancy : ${employer.vacancies}">
            <h3 th:text="${vacancy.position}">Позиция</h3>
            <p class="salary" th:text="${vacancy.salary} + ' руб.'">Зарплата</p>
            <p class="description" th:text="${vacancy.description}">Описание</p>
            <button class="apply-button">Откликнуться</button>
        </div>
    </div>
</div>
</body>
</html>
