<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать резюме</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/resume.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>
<body>
<!---------------------------ШАПКА---------------------------->
<div th:replace="common/navbar :: navbar(user=${user})"></div>
<!------------------------------------------------------------>
<div class="container">
    <h1>
        <i class="fas fa-file-alt icon"></i>
        Создать резюме
    </h1>
    <form th:action="@{/resume/create}" th:object="${resume}" method="post" enctype="multipart/form-data">
        <!-- Поле для должности -->
        <div>
            <label for="position">Ваша должность</label>
            <input type="text" id="position" th:field="*{position}" placeholder="Введите вашу должность" required>
        </div>

        <!-- Поле для описания -->
        <div>
            <label for="description">Описание</label>
            <textarea id="description" th:field="*{description}" placeholder="Опишите ваш опыт и навыки" required></textarea>
        </div>

        <!-- Поле для опыта работы -->
        <div>
            <label for="workExperience">Опыт работы (лет)</label>
            <input type="number" id="workExperience" th:field="*{workExperience}" step="0.1" placeholder="Введите ваш опыт работы" required>
        </div>

        <!-- Поле для загрузки файла -->
        <div>
            <label for="file">Прикрепить файл</label>
            <input type="file" id="file" name="file">
        </div>

        <!-- Кнопка для отправки формы -->
        <button type="submit">
            <i class="fas fa-save icon"></i>
            Создать
        </button>
    </form>

    <!-- Кнопка "Отмена" -->
    <a href="/user/profile" class="btn-cancel mt-3">
        <i class="fas fa-times icon"></i>
        Отмена
    </a>
</div>
</body>
</html>