<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>

<div class="registration-form">
    <h2>Регистрация</h2>
    <div class="role-selector">
        <button id="userButton" class="active" onclick="showUserForm()">Пользователь</button>
        <button id="employerButton" onclick="showEmployerForm()">Организация</button>
    </div>

    <!-- Форма для пользователя -->
    <form id="userForm" th:action="@{/signup}" method="post" accept-charset="UTF-8">
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <!-- Форма для работодателя -->
    <form id="employerForm" class="hidden" th:action="@{/signup/employer}" method="post" accept-charset="UTF-8">
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="text" name="organisation" placeholder="Организация" required>
        <textarea name="description" placeholder="Описание" required></textarea>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <a th:href="@{/signin}">Уже есть аккаунт? Войдите</a>
</div>

<script src="/script/signup.js"></script>

</body>
</html>